db.sqlite3
carts/migrations/
store/migrations/
orders/migrations/
category/migrations/
accounts/migrations/
category/__pycache__/
carts/__pycache__/
django_ecom/__pycache__/
accounts/__pycache__/
store/__pycache__/
orders/__pycache__/
